/* Clearing the default browser margins and paddings */
*{
    margin: 0;
    padding: 0;
}

/* Header Section styles */

/* Styling the left header i.e the toogle menu and gmail logo */
.leftheader img{
    object-fit: contain;
    height: 30px;
    margin-left: 5px;
    display: flex;
    margin-right: 40px;

}

.leftheader:hover span{
    background-color: #f5f7f7;
    border-radius: 50%
}

.leftheader {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.leftheader span{
    padding: 10px;
    cursor: pointer;
}

/* Styling header section in general */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

/* Styling the search bar */
.middleheader {
    display: flex;
    float: left;
    flex: 0.7;
    align-items: center;
    justify-content: left;
    background-color: whitesmoke;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 10px 0px;
}

.middleheader input{
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: medium;
    background-color: transparent;
}


/* Styling the right part i.e the support, settings, apps and account circle icons */
.rightheader {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: end;
    padding-right: 30px;
    padding-left: 100px;
}

.rightheader span{
    padding: 10px;
    cursor: pointer;
}

.rightheader:hover span{
    background-color: #f5f7f7;
    border-radius: 50%
}

.material-icons{
    color: grey;
}

/* End of Header Section styles */

/* Start of Main Body Section */

/* Styles for Sidebar */
.sidebar {
    flex: 0.4;
    max-width: 250px;
    padding-right: 20px;
}

.compose {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 14px;
    font-family: Arial;
    font-weight: 500;
    color: #202124;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sidebar span{
    margin-right: 5px;
}


.options, .newmeeting, .joinameet, .options_active {
    display: flex;
    align-items: center;
    height: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #818181;
    font-size: 12px;
    font-family: Arial;
}



.options .material-icons, .options_active .material-icons {
    padding: 1px 0px 1px 30px;
}

.options h3, .newmeeting h3, .joinameet h3, .options_active h3{
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #202124;
}

h2{
    font-size: 14px;
    font-family: Arial;
    font-weight: 600;
    color: #202124;
    padding: 10px 5px 10px 0px;
}

.hangouts .accountcircle{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 20px 0 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #818181;
    font-size: 14px;
    font-family: Arial;
}

.hangouts h3 {
    flex: 0.4;
    padding: 5px 0px 5px 0px;
    font-size: 14px;
    font-family: Arial;
    font-weight: 400;
    color: #202124;
    align-content: center;
    vertical-align: middle;
}

.meet {
    border-top: 1px solid whitesmoke; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    padding-left: 30px;
}

.hangouts {
    border-top: 1px solid whitesmoke; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
}

.options:hover, .options:hover h3, .newmeeting:hover, .newmeeting:hover h3{
    background-color: #f1f3f4;
    color: #202124;
    font-weight: 400;
}

.options:active , .options:active h3,
.options:active .material-icons, .options_active h3, .options_active span {
    background-color: #ffffff;
    color: #dc3829;
}

.options_active, .options_active h3, .options_active .material-icons{
    background-color: #fce8e6;
    font-weight: 800;
}

/* End of styling sidebar */


/* Start of styling the main list settings header */
.main{
    display:flex;
    height: 100vh;
}

body{
    height: 100vh;
    overflow: hidden;
}

.emailList{
    flex: 1;
    overflow: scroll;
}

.settingssection{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding: 8px;
    margin-right: 30px;
}

.settingsleft {
    display: flex;
    align-items: center;
}

.sectionsettings .material-icons{
    margin: 5px;
    cursor: pointer;
}
/* End of styling the main list settings header */


/* Start of Styling the Header Tabs i.e Primary, Social and Promotion */
.section {
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: grey;
    border-width: 0;
    font-family: Arial;
    font-size: 14px;
    font-weight: 300px;
    z-index: 999;
}

.emaillist_sections{
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}

.section h4{
    font-size: 14px;
    font-weight: 300;
    margin-left: 15px;
    z-index: 999;
}

.section_selected{
    background-color: white;
    border-width: 3px;
    color: #da3026;
    border-bottom: 3px solid #da3026;
    font-family: Arial;
    font-size: 14px;
    z-index: 999;
}

.section_selected .material-icons{
    color: #da3026;
}

.section:hover {
    background-color: whitesmoke;
    border-width: 3px;
    color: #202124;
}

.section:hover .material-icons{
    color:#202124;
}

/* End of Styling the Header Tabs i.e Primary, Social and Promotion */

/* Start of Styling the email list */
.emailrow_options{
    display: flex;
    align-items: center;
}

.emailrow_options .material-icons,
input {
    margin: 5px 10px 5px 10px;
    color: #c7cbcc;
}

.emailrow {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 2px solid whitesmoke;
    background-color: #f5f7f7;
    cursor: pointer;
    z-index: 999;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.emailrow h3{
    z-index: 0;
}

.emailrow:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.emilrow:hover h3{
    background-color: none;
    box-shadow: none;
    border-top: none;
}

.emailrow_message{
    display: flex;
    flex: 0.9;
    align-items: center;
}

.emailrow_message h4 {
    width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 100px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    z-index:0;
}

.emailrow_title{
    color: #5f6367;
    margin-right: 40px;
    flex: 0.4;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    z-index:0;
}

.emailrow_time{
    padding-right: 0px;
    font-size: 14px;
    font-weight: 300;   
    color: #63676a;
}

.message{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #63676a;
}

/* End of Styling the email list */

/* End of Main Body Section */